NET clk     LOC=T9;

NET switches<0>         LOC=F12;
NET switches<1>         LOC=G12;
NET switches<2>         LOC=H14;
NET switches<3>         LOC=H13;
NET switches<4>         LOC=J14;
NET switches<5>         LOC=J13;
NET switches<6>         LOC=K14;
NET switches<7>         LOC=K13;

NET buttons<0>          LOC=M13;
NET buttons<1>          LOC=M14;
NET buttons<2>          LOC=L13;
NET buttons<3>          LOC=L14;

NET leds<0>             LOC=K12;
NET leds<1>             LOC=P14;
NET leds<2>             LOC=L12;
NET leds<3>             LOC=N14;
NET leds<4>             LOC=P13;
NET leds<5>             LOC=N12;
NET leds<6>             LOC=P12;
NET leds<7>             LOC=P11;

NET ss_abcdefg_l<0>     LOC=N16;
NET ss_abcdefg_l<1>     LOC=F13;
NET ss_abcdefg_l<2>     LOC=R16;
NET ss_abcdefg_l<3>     LOC=P15;
NET ss_abcdefg_l<4>     LOC=N15;
NET ss_abcdefg_l<5>     LOC=G13;
NET ss_abcdefg_l<6>     LOC=E14;
NET ss_dp_l             LOC=P16;
NET ss_sel_l<0>         LOC=D14;
NET ss_sel_l<1>         LOC=G14;
NET ss_sel_l<2>         LOC=F14;
NET ss_sel_l<3>         LOC=E13;
