NET clk     LOC=T9;

NET switches<0>         LOC=F12;
NET switches<1>         LOC=G12;
NET switches<2>         LOC=H14;
NET switches<3>         LOC=H13;
NET switches<4>         LOC=J14;
NET switches<5>         LOC=J13;
NET switches<6>         LOC=K14;
NET switches<7>         LOC=K13;

NET buttons<0>          LOC=M13;
NET buttons<1>          LOC=M14;
NET buttons<2>          LOC=L13;
NET buttons<3>          LOC=L14;

NET leds<0>             LOC=K12;
NET leds<1>             LOC=P14;
NET leds<2>             LOC=L12;
NET leds<3>             LOC=N14;
NET leds<4>             LOC=P13;
NET leds<5>             LOC=N12;
NET leds<6>             LOC=P12;
NET leds<7>             LOC=P11;

NET xb_buttons_l<0>     LOC=A5;
NET xb_buttons_l<1>     LOC=B6;
NET xb_buttons_l<2>     LOC=M10;

NET gpio<21>            LOC=C15;
NET gpio<22>            LOC=C16;
NET gpio<23>            LOC=D15;
NET gpio<24>            LOC=D16;
NET gpio<25>            LOC=E15;
NET gpio<26>            LOC=E16;
NET gpio<27>            LOC=F15;
NET gpio<28>            LOC=G15;
NET gpio<29>            LOC=G16;
NET gpio<30>            LOC=H15;
NET gpio<31>            LOC=H16;
NET gpio<32>            LOC=J16;
NET gpio<33>            LOC=K16;
NET gpio<34>            LOC=K15;
NET gpio<35>            LOC=L15;

NET rs232_rxd           LOC=T13;
NET rs232_txd           LOC=R13;
NET rs232_rxd_a         LOC=N10;
NET rs232_txd_a         LOC=T14;

NET addr<0>             LOC=L5;
NET addr<1>             LOC=N3;
NET addr<2>             LOC=M4;
NET addr<3>             LOC=M3;
NET addr<4>             LOC=L4;
NET addr<5>             LOC=G4;
NET addr<6>             LOC=F3;
NET addr<7>             LOC=F4;
NET addr<8>             LOC=E3;
NET addr<9>             LOC=E4;
NET addr<10>            LOC=G5;
NET addr<11>            LOC=H3;
NET addr<12>            LOC=H4;
NET addr<13>            LOC=J4;
NET addr<14>            LOC=J3;
NET addr<15>            LOC=K3;
NET addr<16>            LOC=K5;
NET addr<17>            LOC=L3;

NET oe_l                LOC=K4;
NET we_l                LOC=G3;

NET data1<0>            LOC=N7;
NET data1<1>            LOC=T8;
NET data1<2>            LOC=R6;
NET data1<3>            LOC=T5;
NET data1<4>            LOC=R5;
NET data1<5>            LOC=C2;
NET data1<6>            LOC=C1;
NET data1<7>            LOC=B1;
NET data1<8>            LOC=D3;
NET data1<9>            LOC=P8;
NET data1<10>           LOC=F2;
NET data1<11>           LOC=H1;
NET data1<12>           LOC=J2;
NET data1<13>           LOC=L2;
NET data1<14>           LOC=P1;
NET data1<15>           LOC=R1;
NET ce1_l               LOC=P7;
NET ub1_l               LOC=T4;
NET lb1_l               LOC=P6;

NET data2<0>            LOC=P2;
NET data2<1>            LOC=N2;
NET data2<2>            LOC=M2;
NET data2<3>            LOC=K1;
NET data2<4>            LOC=J1;
NET data2<5>            LOC=G2;
NET data2<6>            LOC=E1;
NET data2<7>            LOC=D1;
NET data2<8>            LOC=D2;
NET data2<9>            LOC=E2;
NET data2<10>           LOC=G1;
NET data2<11>           LOC=F5;
NET data2<12>           LOC=C3;
NET data2<13>           LOC=K2;
NET data2<14>           LOC=M1;
NET data2<15>           LOC=N1;
NET ce2_l               LOC=N5;
NET ub2_l               LOC=R4;
NET lb2_l               LOC=P5;
